<%- include('../partials/header', { title: 'Customer Dashboard - Bright Prodigy' }) %>
<div class="layout-grid">
  <%- include('../partials/sidebar', { user, activeTab: 'home' }) %>
  <div style="width:100%">
    <%- include('../partials/topbar', { user }) %>
    <div class="main-container">
      <%- include('home') %>
    </div>
    <%- include('../partials/footer') %>
  </div>
</div>
